<template>
  <div id="current" 
    :class="typeof weather.main != 'undefined' 
    && weather.main.temp > 16 ? 
    'warm' : ''">
    <main>
        <div class="search-box">
            <input type="text" 
            class="search-bar" 
            placeholder="Search ..."
            v-model="query"
            @keypress="fetchWeather"/>
        </div>
        <div class="weather-wrap" v-if="typeof weather.main != 'undefined'">
            <div class="location-box">
            <div class="location">{{weather.name}}, {{weather.sys.country}}</div>
            <div class="date">{{dateBuilder()}}</div>
            </div>

            <div class="weather-box">
            <div class="temp">{{Math.round(weather.main.temp)}}°c</div>
            <div class="weather">{{weather.weather[0].main}}</div>
            </div>
            <div class="heart" @click="emitEventBus"></div>
        </div>
    </main>
  </div>
</template>


<script>

import axios from 'axios';
import { EventBus, SecondBus } from '../helpers/event-bus';
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Current',
  computed: mapGetters(['selected']),
  data () {
    return {
      api_key: '7c68cc79bac4f64af9894a915b9e1ffc', 
      url_base: 'https://api.openweathermap.org/data/2.5/',
      query: '',
      fav: '',
      weather: {}, 
    }
  },

    created () {
      SecondBus.$on('fav-selected', (value) => {
        this.selected = value;      
    })
  },

  methods: {
    ...mapActions[('selectedFav')],
    fetchWeather (e) {
      if (e.key == "Enter") {
          axios
            .get(`${this.url_base}weather?q=${this.query}&units=metric&daily&appid=${this.api_key}`)
            .then(response => (this.weather = response.data));
      }
    },

    fetchFromFav() {
        this.fav = this.selected;
        this.selectedFav(this.fav);

        axios
          .get(`${this.url_base}weather?q=${this.fav}&units=metric&daily&appid=${this.api_key}`)
          .then(response => (this.weather = response.data));
    },

    setResults (results) {
      this.weather = results; 
    }, 
    dateBuilder () {
      let d = new Date(); 
      let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
      'August', 'September', 'October', 'November', 'December'];
      let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']; 

      let day = days[d.getDay()-1]; 
      let date = d.getDate(); 
      let month = months[d.getMonth()]; 
      let year = d.getFullYear();

      return `${day} ${date} ${month} ${year}`;
    },


    emitEventBus () {  
        EventBus.$emit('fav-value', this.query);
    },
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'montserrat', sans-serif;
}

#current {
  background-image: url('../assets/cold.jpg'); 
  background-size: cover; 
  background-position: bottom;
  transition: 0.4s;
}

#current.warm {
  background-image: url('../assets/warm.jpeg')
}

main {
  min-height: 100vh;
  padding: 25px; 
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.75));
}

.search-box {
  width: 100%;
  margin-bottom: 30px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px; 

  color: #313131;
  font-size: 20px;

  appearance: none;
  border: none;
  outline: none;
  background: none;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255,255, 0.5);
  border-radius: 0px 16px 0px 16px;
  transition: 0.4s;
}

.search-box .search-bar:focus {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255,255, 0.5);
  border-radius: 16px 0px 16px 0px;

}

.weather-wrap {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.location-box {
    text-align: center;
    padding: 10px;
}

.location-box .location {
  color: #ffffff;
  font-size: 32px; 
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px  rgba(0, 0, 0, 0.25);
}

.location-box .date {
  color: #fff; 
  font-size: 20px; 
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.weather-box {
  text-align: center;
  padding: 10px;
}

.weather-box .temp {
  display: inline-block; 
  padding: 10px 25px;
  color: #ffffff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255,255, 0.5);
  border-radius: 16px;
  margin: 30px 0px;

  box-shadow: 3px 6px rgba(0,0,0,0.25);
}

.weather-box .weather {
  color: #ffffff;
  font-size: 48px; 
  font-style: italic;
  font-weight: 700;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

/* Fav Button */

 .heart {
    display: inline-block; 
    margin: auto;
    width: 100px;
    height: 100px;
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

/* Favourite Wrap */

.favorite-wrap {
    padding: 15px;
}

</style>
