<template>
    <div id="favorites">
        <div class="fav-box">
        <ul>
            <li v-for="favorite in allFavorites" :key="favorite" class="fav-box-content">
                {{ favorite }}
                <button class="delete" type="button" 
                v-on:click="deleteFromFav(favorite)" 
                aria-label="Delete" title="Delete">
                    X
                </button> 
                <button class="go" type="button" 
                v-on:click="EmitSecondBus(favorite)" 
                aria-label="go" title="go">
                    Go
                </button>
                
            </li>
        </ul>
     </div>
    </div>
</template>

<script>
import { EventBus, SecondBus } from '../helpers/event-bus';
import { mapGetters, mapActions } from 'vuex';


export default {
    name : 'Favorites',
    computed: mapGetters(['allFavorites']),
    data () {
        return {
            favorite: ''
        }
    },
    created () {
            EventBus.$on('fav-value', (value) => {
                if (!this.allFavorites.includes(value)){
                    this.favorite = value;
                    this.addFav(this.favorite);
                }
                else {
                    alert( value + ' is already in your Favorite')
                    return null;
                }
        })
    },
    methods :{
        ...mapActions(['addFav']), // ?? why duplicate ?? 
        ...mapActions(['deleteFav']),
       deleteFromFav () {
           this.deleteFav(this.favorite);
       },

       EmitSecondBus(favorite) {
            SecondBus.$emit('fav-selected', favorite);
       }
    }
}
</script>

<style>
    .fav-box {
        text-align: center
    }

    .fav-box ul {
        list-style-type: none;
    }

    .fav-box-content {
        padding: 10px 25px;
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;

        text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255,255, 0.5);
        border-radius: 16px;
        margin: 30px 0px;

        box-shadow: 3px 6px rgba(0,0,0,0.25);
    }
    .delete {
        color: #fff;
        background:#ff4f5b;
        font-size: 15px; 
        font-weight: 500; 
        border-radius: 50%;
        border: none; 
        padding: 5px;
        text-align: center;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 70px;
        cursor: pointer;
    }
</style>