<template>
  <div id="app">
    <Current />
    <router-link to="Favorites">Favorites</router-link>
    <router-view />
  </div>
</template>

<script>

import Current from './components/Current';

export default {
  name: 'app',
  components: {
    Current, 
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'montserrat', sans-serif;
}
</style>
